<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ajouter Colis</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        >
        
    </head>
    <body>
        <header class="site-header page-width box-shadow flex-row justify-around align-center flex-gap  ">
            <a href="/home"><img src="../../../assets/zad.png" height="100"></a>
            <div class="desktop-only header-search-bar p-relative flex-row justify-center align-center ">
                <i class="fa-solid fa-location-crosshairs" id="location-icon-search-bar"></i>
                <input
                    type="search"
                    name="location-search"
                    id="location-search-bar"
                    placeholder="Entrer votre adresse pour voir les options de livraison"
                >
                <div class="submit-btn-icon-for-location-search flex-row justify-center align-center px-5 py-10 p-absolute">
                    <i class="fa-solid fa-magnifying-glass" id="search-icon-search-bar"></i>
                </div>
            </div>
            <div class="user-utilis-actions">
                <!-- <div class="anonymous-user-wrapper flex-row align-center justify-center flex-gap">
                    <div class="toggle-icons">
                        <i class="fa-solid fa-bars"></i>
                        <i class="fa-solid fa-times"></i>
                    </div>
                    <div class="connexion   flex-row align-center justify-center flex-gap ">
                        <div class="fake-wrapper flex-row align-center justify-center flex-gap ">
                            <div class="login-wrapper">
                                <button type="button"> Se connecter</button>
                            </div>
                            <div class="register-wrapper">
                                <button type="button"> Créer un compte</button>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="connected-user-wrapper flex-row align-center justify-center flex-gap">
                    <div class="toggle-icons">
                        <i class="fa-solid fa-bars"></i>
                        <i class="fa-solid fa-times"></i>
                    </div>
                    <div class="user-infos   flex-row align-center justify-center flex-gap ">
                        <div class="fake-wrapper flex-row align-center justify-center flex-gap ">
                            <!-- <div class="login-wrapper">
                                <button type="button"> Se connecter</button>
                            </div>
                            <div class="register-wrapper">
                                <button type="button"> Créer un compte</button>
                            </div> -->

                            <div class="flex-row  flew-wrap flex-gap align-center justify-between ">
                                <span class="user-whitlist">
                                    <i class="fa-solid fa-heart"></i>
                                </span>
                                <span class="user-notifications p-relative">
                                    <i class="fa-sharp fa-solid fa-bell"></i>
                                    <span class="notifications-count p-absolute" > 4 </span>
                                </span>
                                <span class="user-track-delivery p-relative">
                                    <i class="fa-solid fa-truck"></i> 
                                    <span class="delivery-count p-absolute" > 4 </span>
                                </span>
                                <span class="user-profile-image">
                                    <!-- <img src="assets/images/ups-logo.png" width="50" height="50" alt="User profile "> -->
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        <div class="go-back  page-width  flex-row flex-wrap flex-gap align-center ">
            <a href="/home-template.html" class=" go-back flex-row flex-wrap flex-gap align-center p15">
                <i class="fa-solid fa-arrow-left"></i>
                Retour au magasin
            </a>
        </div>
        <section class="checkout-infos page-width  flex-row flex-wrap flex-gap ">
            <div class="left-infos section-title flex-column  flex-wrap flex-gap  ">
                <h3 class="section-title flex-row flex-wrap flex-gap align-center"> Ajouter une livraison</h3>
                <form [formGroup]="form" (ngSubmit)="submit()"class="checkout-form">
                    <!-- infos de contact  -->
                    <div class="form-section-title  flex-row flex-wrap flex-gap align-center"> Informations de livraison</div>
                    <div class="form-row flex-row flex-wrap flex-gap align-center">
                        <div class="form-column flex-column  flex-wrap flex-gap align-center ">
                            <label for="nom" class="label-nom">Votre Nom Complet</label>
                            <input
                                type="text"
                                formControlName="nom"
                                name="nom"
                                id="nom"
                                placeholder="Nom"
                            >
                        </div>
                        
                    </div>
                    <div class="form-row flex-row flex-wrap flex-gap align-center">
                        <div class="form-column flex-column  flex-wrap flex-gap align-center ">
                            <label for="adresse" class="label-nom">Votre Addresse</label>
                            <input
                                type="text"
                                formControlName="adresse"
                                name="adresse"
                                id="adresse"
                                placeholder="Tunisie, Bizerte"
                            >
                        </div>
                        
                    </div>
                    <div class="form-row flex-row flex-wrap flex-gap align-center">
                        <div class="form-column flex-column  flex-wrap flex-gap align-center ">
                            <label for="numTel" class="label-nom">Votre numéro de telephone</label>
                            <input
                                type="text"
                                formControlName="numTel"
                                name="numTel"
                                id="numTel"
                                placeholder="29 000 000"
                            >
                        </div>
                        
                    </div>
                    <div class="form-row flex-row flex-wrap flex-gap align-center">
                        <div class="form-column flex-column  flex-wrap flex-gap align-center ">
                            <label for="email" class="label-nom">Votre email</label>
                            <input
                                type="text"
                                formControlName="email"
                                name="email"
                                id="email"
                                placeholder="User@hotmail.com"
                            >
                        </div>
                        
                    </div>
                    <div class="divider_horizontal"></div>
                    <!-- info colis -->
                    <div class="form-section-title  flex-row flex-wrap flex-gap align-center"> Note suplémentaire pour le livreur ?</div>
                    <div class="form-row flex-row flex-wrap flex-gap align-center">
                        
                    </div>
                    <div class="form-row flex-row flex-wrap flex-gap align-center">
                        <div class="form-column flex-column  flex-wrap flex-gap align-center ">
                            <label for="description" class="label-additionnal-info">Description</label>
                            <textarea
                                name="description"
                                formControlName="description"
                                id="description"
                                cols="30"
                                rows="10"
                                aria-valuenow="....."
                            ></textarea>
                        </div>
                       
                    </div>
                  
                    <div class="divider_horizontal"></div>
                    <!--  type de livraison  -->
                    
                    <!--  mode de paiement  -->
                    
                  
                    <div class="form-row  submit-wrapper flex-colum flex-wrap flex-gap">
                        <button [disabled]="!form.valid" type="submit" (click)="alertwithsuccess()" >Confirmer la livraison</button>
                    </div>
                </form>
            </div>
            <div class="right-infos flex-column  flex-wrap flex-gap justify-between align-center ">
                <div class="right-header">
                    <div class="deliver-infos flex-row flex-wrap flex-gap ">
                        <div class="basics-infos">
                            <div class="deliver-logo">
                                <img
                                    src="assets/images/ups-logo.png"
                                    width="100"
                                    height="75"
                                    alt="Logo de l'entreprise"
                                >
                            </div>
                            <div class="deliver-name">
                                <h5 class="name-of-deliver"> DHL</h5>
                            </div>
                        </div>
                        <div class="meta-infos">
                            <div class="line_item">
                                <span class="stars-rated">
                                    <i class="fa-solid fa-star"></i>
                                    4.8
                                </span>
                                <span class="whitelisted">
                                    <i class="fa-solid fa-heart"></i>
                                </span>
                            </div>
                            <div class="line_item">
                                <span class="delivery-date">
                                    <i class="fa-solid fa-truck"></i> 1 à 10 Jrs
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="cart-resume flex-column  flex-wrap flex-gap  p15">
                        <div class="line_item flex-row flex-wrap flex-gap justify-between ">
                            <span class="title"> Ma facture </span>  <span class="edit-cart"> <a href="#"> <i class="fa-solid fa-pen"></i> </a>  </span>
                        </div>
                        <div class="line_item item-count flex-row flex-wrap flex-gap justify-start ">
                            <span class="item-count"> 5 items </span>
                        </div>
                        <div class="line_item flex-row flex-wrap flex-gap justify-between ">
                            <span class="image-featured"><img src="assets/images/ups-logo.png" width="100" height="75" alt="Une image"> </span>
                              <span class="edit-cart"> Total   </span>
                        </div>
                    </div>
                </div>
                <div class="right-footer">
                    <div class="recap-overall flex-column  flex-wrap flex-gap  align-center p15">
                        <span class="title"> Récapitulatif de la commande </span>
                        <span class="item-count"> 5 items </span>
                        <span class="delivery">Livraison :  </span>
                        <div class="divider_horizontal"></div>
                        <span class="total_amount ">Le total à payer  :  </span>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer  page-width ">
            <div class="footer-top flex-row justify-around align-center flex-gap flex-wrap">
                
                    <div class="logo"><img src="../../../assets/booo.png" width="150"></div>
                
                <div class="navigations flex-row justify-around align-center flex-gap flex-wrap">
                    <ul class="nav-one flex-column justify-around align-center flex-gap flex-wrap">
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                    </ul>
                    <ul class="nav-one flex-column justify-around align-center flex-gap flex-wrap">
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                    </ul>
                    <ul class="nav-one flex-column justify-around align-center flex-gap flex-wrap">
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                    </ul>
                    <ul class="nav-one flex-column justify-around align-center flex-gap flex-wrap">
                        <select name="money" id="money-switcher">
                            <option value="euro">EUR</option>
                            <option value="us-dollars">Dollars</option>
                            <option value="euro">EUR</option>
                        </select>
                        <select name="country" id="country-switcher">
                            <option value="fr">France</option>
                            <option value="en">English</option>
                            <option value="es">Espagne</option>
                        </select>
                    </ul>
                </div>
                <div class="text-center flex-row justify-center align-center flex-wrap flex-gap">
                    <p class="copyright"> Express & Go &copy; All rightsd reserved. Company</p>
                </div>
            </div>
            <ul class="footer-bottom flex-row justify-around align-center flex-wrap flex-gap">
                <ul class="social-medias  flex-row justify-center align-center flex-wrap flex-gap">
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                </ul>
                <div class="brand-logo">
                    
                </div>
                <div class="help-desk">
                    <h5>Need helps ?</h5>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
                <div class="call-center">
                    <h4>
                        <i class="fa-solid fa-phone"></i>
                        +(123) 55 56 778 44
                    </h4>
                    
                        <div class="logo"><img src="../../../assets/booo.png" width="150"></div>
                    
                </div>
            </ul></footer>
            

        <script src="assets/script-js/menu-tablet-toggler.js"></script>
    </body>
</html>
