/* Header logo */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}



.card {
    max-width: 500px;
    background-color: #595899;
    margin: auto;
    color: white;
    border-radius: 10px;
    position: relative;
}

p {
    margin: 0px;
}

.h8 {
    font-size: 32px;
    font-weight: 600;
    word-spacing: 0px;
}

.text-muted {
    font-size: 15px;
    font-weight: 550;
}

a {
    text-decoration: none;
}

.btn.btn-primary {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-color: #89ABE3FF;
    border: none;

}

.fas.fa-arrow-right {
    width: 40px;
    height: 40px;
    background-color: #060672;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.btn-primary:hover .fas.fa-arrow-right {
    transform: translate(15px);
    transition: transform 0.2s ease-in;
}

/* .credit {
    width: 80px;
    height: 20px;
    object-fit: cover;
}

.paypal {
    width: 80px;
    height: 40px;
    object-fit: cover;
} */
.pay {
    font-size: 30px;
}

.credit {
    width: 80px;
    height: 20px;
    object-fit: cover;
}

@media(max-width:500px) {
    .h8 {
        font-size: 20px;
    }

    .text-muted {
        font-size: 12px;
    }
}























header.site-header {
  width: auto;
  height: 110px;
  background-color: #595899;
}

.brand-logo {
  width: 200px;
  height: 100px;
  margin: 1rem 0;
  background-color: #fff;
}

.header-search-bar {
  flex: 50%;
  margin: 0 1rem;
}

.header-search-bar input {
  flex: 60%;
  margin: 0 auto;
  height: 60px;
  padding: 5px;
  border-radius: 7px;
  font-size: 1.3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  outline: none;
  border: none;

}

.header-search-bar #location-icon-search-bar {
  position: absolute;
  top: 16px;
  left: .8rem;
  font-size: 26px;
  color: blue;
}

.header-search-bar .submit-btn-icon-for-location-search {
  position: absolute;
  top: 10px;
  right: .8rem;
  padding: 12px .6rem;
  background-color: #039750;
  border-radius: 7px;
}

.header-search-bar .submit-btn-icon-for-location-search i {
  color: #fff;
  font-size: 16px;
}

.brand-logo-container {
  flex: 20%;

}

.user-utilis-actions {
  flex: 30%;
}

.register-wrapper {
  background-color: #4D148C;
  padding: 10px 8px;
  border-radius: 7px;
}

.login-wrapper button,
.register-wrapper button {
  background: none;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.1rem;
  border-radius: inherit;
}


.toggle-icons {
  display: none;
}

.toggle-icons  i:hover {

  cursor: pointer;
}



/*  user connected     */
.fa-brands {
  width: auto;
  color: #595899;
}

.user-infos {
  flex: 100%;
  width: 100%;
}
.user-infos .fake-wrapper {
  width: 100%;
}

.user-infos .fake-wrapper  > * {
  flex: 1;
  margin: .5rem 1rem ;
}
.user-infos .fake-wrapper  > .flex-row {
 justify-content: center;
 gap: 2rem;
}
.user-infos .fake-wrapper  > .flex-row > * {
padding: 1rem .6rem;
cursor: pointer;
}

.user-infos .fake-wrapper  > .flex-row > * i {
  font-size: 24px;
  color: #fff;
}

.user-track-delivery  .delivery-count,  .user-notifications .notifications-count {
  bottom: 9px;
  font-size: 17px;
  width: 14px;
  border-radius: 50%;
  border: 2px solid #100DB4;
  height: 14px;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 2px;
  right: 0;
}


.user-profile-image {
  border:  4px solid #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0 !important;
  background: url('/assets/images/ups-logo.png') no-repeat center;
}


/* Hero section  */


.hero-section .brand-arguments {
  flex-wrap: wrap;
}

.hero-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero-section .hero-title {
  font-size: 2.5rem;
  text-align: center;
}

.hero-section .hero-description {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ccc;
  padding:  0 7px;
 
}

.hero-section .argument {
  padding: 8px 5px;
  max-width: 250px;
  width: 90%;
  margin: 0 10px;
  padding: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}


.argument .argument-title {
  font-size: 1.55rem;
}

.argument .argument-subtitle {
  font-size: 1.26rem;
  color: #ccc;
}

.argument i {
  font-size: 27px;
  color: blue;
}

.argument>p,
.argument h3 {
  margin: .1rem;
}

.argument {
  transition: transform .4s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .6rem;
}

.argument:hover {
  transform: scale(1.1);
}



/* brands-list  */

.brands-list {
  padding: 5rem;
  background-color: #595899;
}




.brand {
  max-width: 500px;
  min-width: 350px;
  max-height: 300px;
  background-color: #F8F8F8;
  padding: 2rem;
  margin: .5rem;
  cursor: pointer;
}

.brand>* {
  flex: 1;
}

.brand .brand-image {
  flex: 1;
}

.brand .brand-image img {
  width: 100%;
  max-width: 100px;
  max-height: 75px;
  object-fit: contain;
}

.brands-list .section-header h3 {
  font-size: 2.4rem;
  color: #fff;
  text-align: center;
}

.brand .details,
.see-all {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  width: 100%;
}

.brand .details button,
.see-all button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: #FFFFFF;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 7px;
}

/* work-steps */

.work-steps .section-header {
  padding: 1rem  10px;
}

.work-steps .section-header h3 {
  font-size: 2.4rem;
  text-align: start;
}

.steps {
  padding: 3rem 0;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  width: 80%;
  height: 450px;
  border-radius: 7px;
  margin: 0 .2rem;
}

.step .step-header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  border-radius: inherit;
  width: 95%;
  flex: 95%;
  height: 200px;
  font-size: 47px;
  /* padding: 6rem; */
  color: #fff;
  background: url("/assets/images/ups-logo.png");
  background-position: center;
  background-repeat: no-repeat;
}

.step-header .step-number {
  padding: 1rem;
  display: block;
}

.step .step-footer {
  margin-top: 1rem;
  flex: 18%;
  width: 100%;
}

.step .step-footer>* {
  padding-left: 15px;
  margin: .2rem;
  display: flex;
  align-items: center;
}


/* app download */

.app-download .right-content {
  flex: 1;
  width: 100%;
  margin: 3rem;
  height: 500px;
  background: url('/assets/images/ups-logo.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 17px;

}

.app-download .left-content {
  flex: 1;
  width: 100%;

}

.left-content .ios-and-android {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.ios-and-android>a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;

}

.ios-and-android>a>img {
  width: 100%;
  max-width: 200px;
}

.left-content h3 {
  font-size: 1.5rem;
  margin: 1rem;
}

.left-content p {
  font-size: 1.3rem;
  padding: 4px;
  margin: 1rem;
}


/* footer  */

footer.footer {
  background-color: #f4f4f4;
  padding-top: 5rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.footer .brand-logo .logo {
  height: 100px;
  width: 150px;
  background-color: #4D148C;
}

.footer .brand-logo {
  flex: 10%;
}

.footer .footer-top {
  background-color: #fff;
  padding: 2rem 1rem;
}

.footer .navigations {
  flex: 80%;
}

.footer .navigations [class^="nav-"] {
  list-style: none;
}

.footer .navigations [class^="nav-"] li,
.footer .navigations [class^="nav-"] select {
  margin: .6rem 0;
}

.footer .navigations [class^="nav-"] select {
  padding: 10px;
  border: 2px solid #ccc;
  outline: none;
  border-radius: 5px;
}


.footer .footer-bottom ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-bottom {
  align-items: center;
  margin: 1rem 0;
  padding: 1rem 0;
  gap: 1rem;
  background-color: #f4f4f4;
}

.footer .footer-bottom>* {
  flex: 1;
  text-align: center;
}

.footer-bottom .brand-logo {
  height: 50px;
  background-color: inherit;
}

.footer-bottom .brand-logo .logo {
  height: inherit;
}

.footer-bottom .call-center,
.footer-bottom .help-desk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}

.footer-bottom .call-center>*,
.footer-bottom .help-desk>* {
  margin: .2rem;
}

.footer-bottom .social-medias {
  font-size: 27px;
  gap: 1rem;
}






/*  checkout template      */


.go-back {
  font-size: 1rem;
  color: #ccc;
  margin-top: 1rem;
}

.checkout-infos {
  gap: 2rem;
  padding: 0 10px;
}
.checkout-infos>* {

  flex: 1;
}

.checkout-infos .left-infos {
  padding: 0 2px 2rem;
  flex: 60%;
}

.checkout-infos .right-infos {
  padding: 0 2px 2rem;
  flex: 36%;
  align-items: flex-start;
}

.checkout-infos .left-infos .checkout-form {
  width: 100%;
  box-sizing: border-box !important;

}

.checkout-infos .form-section-title {
  font-size: 1.4rem;
  padding: 1rem;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  border-bottom: 2px solid #f4f4f4;
  margin-bottom: 1rem;
  color: #100DB4 !important;
  font-weight: bold;
}

.checkout-infos .form-section-title:not(:first-child) {
  padding-top: 1.4rem;
  margin-bottom: 4px;
  border-bottom: none;
  padding-bottom: 0;
}

.section-title {
  font-size: 1.3rem;
}

.checkout-form .form-row .form-column {
  flex: 1;
  /* box-sizing: border-box !important; */
}

.checkout-form .form-row .form-column>* {
  flex: 100%;
  width: 100%;
  margin: 7px 0;
  align-self: flex-start;
  box-sizing: border-box !important;
}

.form-row {
  gap: 1rem;
}

.checkout-form .form-row .form-column>label {
  margin-bottom: 0;
  font-size: 1.1rem;
  font-weight: bold;
}

.checkout-form .form-row .form-column>input,
.checkout-form .form-row .form-column>textarea {
  margin-top: 0;
}

.checkout-form .form-row input {
  height: 40px;
  border: 2px solid #f4f4f4;
  border-radius: 7px;
  padding: 15px;
  font-size: 1rem;
  /* padding: 15px; */
}


input#input_adresse_livraison {
  height: 60px;
  padding-left: 3rem;
}

.checkout-form .form-row .form-column>textarea {

  border: 2px solid #f4f4f4;
  border-radius: 7px;
  padding: 13px;
}

.checkout-form .form-row .form-column>textarea:focus {
  outline: none;
  border: 2px solid #f4f4f4;
  border-radius: 7px;
  padding: 10px;
}

.checkout-form .form-row {
  padding-top: 1rem;
}

.checkout-form .mode_payment_row>.form-column,
.checkout-form .type_livraison_row>.form-column {
  width: 100%;
  display: flex !important;
  flex-direction: row;
}

.checkout-form .mode_payment_row,
.checkout-form .type_livraison_row {
  gap: 0 !important;
}

.checkout-form .mode_payment_row>.form-column,
.checkout-form .type_livraison_row>.form-column {
  flex-direction: row-reverse;
  text-align: left;
  justify-content: flex-end;
  align-items: center;
}

.checkout-form .mode_payment_row>.form-column>input,
.checkout-form .type_livraison_row>.form-column>input {
  /* width: 56%; */
  flex: 3% !important;
  height: 20px;
  margin-left: -10px !important;
  align-self: flex-end;
}

.checkout-form .mode_payment_row>.form-column>label,
.checkout-form .type_livraison_row>.form-column>label {
  /* width: 56%; */
  padding: 5px;
  flex: 94% !important;
  margin-left: -15px !important;
}

.checkout-form .mode_payment_row>.form-column>*,
.checkout-form .type_livraison_row>.form-column>* {
  width: auto;
  flex: 0 !important;
  align-self: flex-end;
}

.divider_horizontal {
  width: 100%;
  margin: .3rem 0;
  padding: 1rem 0;
  border-bottom: 3px solid #f4f4f4;
}


.checkout-form .submit-wrapper {
  padding: 2rem 1rem;
}

.checkout-form .submit-wrapper button {
  padding: 1rem;
  width: 100%;
  background-color: #039750;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 1.2rem;
}

/* checkout right-infos */


.right-infos .right-footer,
.right-infos .right-header {
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.right-infos .right-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.right-infos .right-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}

.right-footer .recap-overall {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #f4f4f4;
  border-radius: 12px;
  align-self: flex-end;
  padding: 1.4rem;
  gap: 1rem;
  align-items: flex-start !important;
}

.recap-overall .divider_horizontal {
  padding: 0;
}

.right-infos .title {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
}

.right-infos .total_amount {
  font-size: 1.1rem;
  font-weight: bold;
}

.right-infos .right-header .cart-resume {

  width: 100%;
  box-sizing: border-box;
  border: 2px solid #f4f4f4;
  border-radius: 12px;
  align-self: flex-end;
  padding: 1.4rem;
  gap: 1rem;
  /* align-items: flex-start !important; */

}


.right-header .cart-resume .line_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.right-header .cart-resume .line_item.item-count {
  margin-top: -.6rem;
}

.right-header .deliver-infos {
  justify-content: space-between;
  background-color: #F6F6F6;
  padding: 1rem;
  border-radius: 12px;
}
div.right-header  div.deliver-infos   div.basics-infos {
  display: flex;
  gap: .3rem;
  align-items: flex-start;
  justify-content: center;
}

div.right-header  div.deliver-infos   div.basics-infos  .deliver-name{
  align-self: flex-start;
  height: auto;
  font-size: 1.1rem;
}

h5.name-of-deliver {
  margin: .4rem 0 0 ;
}

.meta-infos {
  padding: .6rem;
}
.meta-infos .line_item {
  display: block;
  padding: .4rem;
}
.meta-infos .line_item  .stars-rated i {
  color: yellow;
}
.meta-infos .line_item .whitelisted i {
  color: red;
}
.meta-infos .line_item  .stars-rated i {
  color: yellow;
}
.meta-infos .line_item .stars-rated {
  padding: .4rem 1rem;
  background-color: #fff;
  border-radius: 1rem;
  margin-right: 1rem;
}
.meta-infos .line_item .whitelisted {
  display: inline-flex;
  align-items: center;
  justify-content: center;
line-height: 1.3;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
}
.meta-infos .line_item .delivery-date {
  display: block;
  padding: .4rem 1rem;
  margin-top: .5rem;
  text-align: right;
  
}

span.edit-cart {
  align-self: flex-start;
  font-size: 1.2rem;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.page-width {
  width: 100%;
  padding: 0;
  /* max-width: 1600px; */
  margin: auto;
  box-sizing: border-box;
}


/* .box-shadow {
  box-shadow: 0px 2px 4px rgba( 0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.3);
} */

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.justify-around{
  justify-content: space-around;
}

.justify-start {
  justify-content: flex-start;
}

.flex-row {
  display: flex;
  /* flex-wrap: wrap; */
}

.text-right {
  text-align: right;
}


.text-like-gray {
  color: #A1A1A1;
}
.flex-gap {
  gap: .5rem;
}
.flex-wrap {
  flex-wrap: wrap;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.py-5 {
  padding-top: 5px;
  padding-right: 5px;
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.my-5 {
  margin-top: 5px;
  margin-right: 5px;
}

.p5 {
  padding: 5px;
}

.p15 {
  padding: 15px;
}

.p10 {
  padding: 10px;
}

.m5 {
  margin: 5px;
}

.m15 {
  margin: 15px;
}

.m10 {
  margin: 10px;
}

a,button{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

button, input, input:focus  {
  outline: none;
}


.radius-normal{
  border-radius: 7px;
}

.p-relative{
  position: relative;
}
.p-absolute{
  position: absolute;
}
.p-sticky{
  position: sticky;
}


.text-center {
  text-align: center;
}


input:not(input[type="text"]):not(input[type="search"]):hover,
label:hover,
button:hover,
a:hover {
  cursor: pointer;
}
