<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Template</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  >
  <link rel="stylesheet" href="/assets/styles-css/main.css">
</head>
<body>

<section class="hero-section  page-width box-shadow">
  <h2 class="hero-title flex-row justify-around align-center flex-gap p15"> Rien ne peut nous ralentir.</h2>
  <p class="hero-description flex-row justify-around align-center flex-gap  "> </p>
  <div class="brand-arguments flex-row justify-between align-center flex-gap   text-center ">
    <div class="argument">
      <i class="fa-solid fa-shop"></i>
      <h3 class="arument-title"> 20 entreprises de livtaison.</h3>
      <p class="argument-subtitle">  Text</p>
    </div>
    <div class="argument">
      <i class="fa-solid fa-phone"></i>
      <h3 class="arument-title"> Support idéal.</h3>
      <p class="argument-subtitle">TExt.</p>
    </div>
    <div class="argument">
      <i class="fa-solid fa-truck"></i>
      <h3 class="arument-title">Livraison rapide.</h3>
      <p class="argument-subtitle">text.</p>
    </div>
    <div class="argument">
      <i class="fa-solid fa-eye"></i>
      <h3 class="arument-title"> Suivi en direct.</h3>
      <p class="argument-subtitle">text.</p>
    </div>
  </div>
</section>
<section class="brands-list  page-width ">
  <div class="section-header page-width flex-row justify-around align-center flex-gap ">
    <h3>Entreprises populaires</h3>
    <div class="see-all">
      <button type="button"> See all</button>
    </div>
  </div>
  <div class="brands flex-row justify-center align-center flex-gap flex-wrap">
    <div class="brand p-relative  flex-column justify-between align-center flex-gap radius-normal p15 ">
      <div class="details text-right">
        <button type="button"> Details</button>
      </div>
      <div class="brand-image">
        <img src="/src/assets/image/ups-logo.png" alt="Une image ">
      </div>
      <div class="brand-title">
                        <span class="text-like-gray">
                            Lorem, ipsum dolor.
                        </span>
      </div>
    </div>
    <div class="brand p-relative  flex-column justify-between align-center flex-gap radius-normal p15 ">
      <div class="details text-right">
        <button type="button"> Details</button>
      </div>
      <div class="brand-image">
        <img src="/src/assets/image/UPS-Logo.png" alt="Une image ">
      </div>
      <div class="brand-title">
                        <span class="text-like-gray">
                            Lorem, ipsum dolor.
                        </span>
      </div>
    </div>
    <div class="brand p-relative  flex-column justify-between align-center flex-gap radius-normal p15 ">
      <div class="details text-right">
        <button type="button"> Details</button>
      </div>
      <div class="brand-image">
        <img src="/src/image/ups-logo.png" alt="Une image ">
      </div>
      <div class="brand-title">
                        <span class="text-like-gray">

                        </span>
      </div>
    </div>
    <div class="brand p-relative  flex-column justify-between align-center flex-gap radius-normal p15 ">
      <div class="details text-right">
        <button type="button"> Details</button>
      </div>
      <div class="brand-image">
        <img src="/src/image/ups-logo.png" alt="Une image ">
      </div>
      <div class="brand-title">
                        <span class="text-like-gray">

                        </span>
      </div>
    </div>
    <div class="brand p-relative  flex-column justify-between align-center flex-gap radius-normal p15 ">
      <div class="details text-right">
        <button type="button"> Details</button>
      </div>
      <div class="brand-image">
        <img src="/src/image/ups-logo.png" alt="Une image ">
      </div>
      <div class="brand-title">
                        <span class="text-like-gray">

                        </span>
      </div>
    </div>
    <div class="brand p-relative  flex-column justify-between align-center flex-gap radius-normal p15 ">
      <div class="details text-right">
        <button type="button"> Details</button>
      </div>
      <div class="brand-image">
        <img src="/src/image/ups-logo.png" alt="Une image ">
      </div>
      <div class="brand-title">
                        <span class="text-like-gray">

                        </span>
      </div>
    </div>
  </div>
</section>
<section class="work-steps page-width">
  <div class="section-header page-width flex-row align-center flex-gap ">
    <h3>Comment ça fonctionne ?</h3>
  </div>
  <div class="steps flex-row justify-center align-center flex-gap flex-wrap">
    <div class="step p-relative">
      <div class="step-header">
        <span class="step-number">1</span>
      </div>
      <div class="step-footer">
        <h4 class="step-title"></h4>
        <p class="step-subtitle"></p>
      </div>
    </div>
    <div class="step p-relative">
      <div class="step-header">
        <span class="step-number">2</span>
      </div>
      <div class="step-footer">
        <h4 class="step-title"></h4>
        <p class="step-subtitle"></p>
      </div>
    </div>
    <div class="step p-relative">
      <div class="step-header">
        <span class="step-number">3</span>
      </div>
      <div class="step-footer">
        <h4 class="step-title"></h4>
        <p class="step-subtitle"></p>
      </div>
    </div>
    <div class="step p-relative">
      <div class="step-header">
        <span class="step-number">4</span>
      </div>
      <div class="step-footer">
        <h4 class="step-title"></h4>
        <p class="step-subtitle"></p>
      </div>
    </div>
  </div>
</section>
<section class="app-download page-width  flex-row justify-between align-center flex-gap ">
  <div class="left-content">
    <h3>Télcharger l'application maintenant et magasinez ou que vous soyez !</h3>
    <p class="description"></p>
    <div class="ios-and-android">
      <a href="#">
        <img src="/src/image/android.png" alt="Android logo ">
      </a>
      <a href="#">
        <img src="/src/image/android.png" alt="Android logo ">
      </a>
    </div>
  </div>
  <div class="right-content"></div>
</section>
<footer class="footer  page-width ">
  <div class="footer-top flex-row justify-around align-center flex-gap flex-wrap">
    <div class="brand-logo">
      <div class="logo"></div>
    </div>
    <div class="navigations flex-row justify-around align-center flex-gap flex-wrap">
      <ul class="nav-one flex-column justify-around align-center flex-gap flex-wrap">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <ul class="nav-one flex-column justify-around align-center flex-gap flex-wrap">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <ul class="nav-one flex-column justify-around align-center flex-gap flex-wrap">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <ul class="nav-one flex-column justify-around align-center flex-gap flex-wrap">
        <select name="money" id="money-switcher">
          <option value="euro">EUR</option>
          <option value="us-dollars">Dollars</option>
          <option value="euro">EUR</option>
        </select>
        <select name="country" id="country-switcher">
          <option value="fr">France</option>
          <option value="en">English</option>
          <option value="es">Espagne</option>
        </select>
      </ul>
    </div>
    <div class="text-center flex-row justify-center align-center flex-wrap flex-gap">
      <p class="copyright"> Year &copy; All rightsd reserved. Company</p>
    </div>
  </div>
  <ul class="footer-bottom flex-row justify-around align-center flex-wrap flex-gap">
    <ul class="social-medias  flex-row justify-center align-center flex-wrap flex-gap">
      <li>
        <a href="#">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
    </ul>
    <div class="brand-logo">
      <div class="logo"></div>
    </div>
    <div class="help-desk">
      <h5>Need helps ?</h5>
      <p></p>
    </div>
    <div class="call-center">
      <h4>
        <i class="fa-solid fa-phone"></i>  +(216) 55 56 778 44
      </h4>
      <div class="brand-logo">
        <div class="logo"></div>
      </div>
    </div>





    <script src="/assets/script-js/menu-tablet-toggler.js"></script>
  </ul>
</footer>
</body>
</html>
